* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hello {
    text-transform: capitalize;
    font-size: 85px;
    font-family: poppins;
    font-weight: 700;
    text-align: center;

}

.something {
    text-transform: capitalize;
    font-size: 85px;
    font-family: Roboto;
    text-align: center;
    font-weight: 300;

}

/* Animation */
.hello:hover {
    transition: ease-in-out;
    transition-duration: 0.5s;
    transition-delay: 0.7s;
    transform: scale(1.5);
}

.animation {
    animation-name: naina;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    text-align: center;
    font-size: 85px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: roboto;
    background-color: tomato;


}

@keyframes naina {
    from {
        translate: 200vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;

    }
}

.animation2 {
    animation-name: sunaina;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    text-align: center;
    font-size: 85px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: roboto;
    background-color: chartreuse;

}

@keyframes sunaina {
    from {
        translate: -200vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}