:root {
    --width: 400px;
    --width-1: 400px;
    --height: 400px;
    --height-1: 400px;

}


.container {
    border: 3px solid red;
    /* width: 400px; */
    height: 97vh;
    box-sizing: content-box;
}

.container_1 {
    border: 3px solid green;
    width: calc(var(--width) + var(--width-1));
    height: calc(var(--height-1) + var(--height));
}