*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    counter-reset: value;
}
.text:hover{
    font-size: 4rem !important;

}
h2::before{
    counter-increment: value;
    content: "DATA" counter(value)" -->";
}