 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }


 .contant-img>img {
     width: 500px;
     height: 500px;
     opacity: 0.2;
 }

 .contant-img>img:hover {
     opacity: 7;
     cursor: pointer;

 }