.containt {
    height: 300px;
    width: 300px;
    border: 2px solid red;
    padding: 90px;
    margin: 110px;
    background-color: aqua;
    text-align: center;
    text-decoration: double;
    font-size: xx-large;
    text-transform: capitalize;

}