*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    


}
.container{
    display: flex;
    align-items: center;  
    

   width: 50%;
   gap: 50px;
     
    justify-content: space-between;


}
.number{
    display: flex;
    gap: 15px;

}
p{
   border: 1px solid black;
   height: 40px;
   width: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
   
}
.arrow_back ,.arrow_forward{
   border: 1px solid black;
   height: 40px;
   width: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 50px;
   
}
p:hover,
.arrow_back:hover ,
.arrow_forward:hover{
    background-color: blueviolet;
}




/* example2 */
 /* .content{
    display: flex;
    margin-top: 70px;
    width: 70%;
    justify-content: space-evenly;
}
p1{
    height: 35px;
    width: 100px;
    /* border: 2px solid red; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}
p{
    height: 35px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    cursor: pointer;

}
p:hover ,p1:hover{
    background-color: red;
    cursor: pointer;

    
}  */
