.parent {
    position: fixed;
    top: 200px;
    left: 0;
    width: 100%;
    background: red;
    color: white;

}

body {
    border: 2px solid green;
    height: 300vh;
}

img {
    background-size: cover;
    height: 100px;
    width: 200px;

}