body {
    border: 3px solid green;
    height: 80vh;

}

img {
    margin-top: 150px;
    border-radius: 50%;
    width: 400px;
    height: 400px;

    animation: mymove 4s infinite;
    display: flex;
    justify-self: center;



}

@keyframes mymove {
    from {
        transform: rotate(odeg);
    }

    to {
        transform: rotate(360deg);

    }

}

img:hover {
    cursor: pointer;
    /* animation-play-state: paused; */
    animation: none;

}