* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100% ;
    height: 55px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
body{
    height: 800vh;
}

p1,p2{

    /* border: 1px solid gainsboro; */
    padding: 5px 10px 16px;
    border-radius:10px ;
    font-size: large;
    margin: 2px;
}


p1:hover{
    color: blue;
    text-decoration: underline;
}
p2:hover{
    color: blue;
    text-decoration: underline;
}

.box1{
    margin-top: 35vh;
    height: 200px;
    width: 30%;
    /* border: 1px solid red; */
    margin-left: 20px;
    
    
}

.button1>button{
    width: 30%;
    height: 35px;
    border-radius: 10px;
    background-color: blueviolet;
}

.h1{
    font-weight: 700;
    font-size: 80px;
}
.box{
    display: flex;
    justify-content: space-between;
}

.box2 > img{
    margin: 60px  0px 0px 70px;
    height: 600px;
    width: 600px;
    position: absolute;

}

.subdiv{
    margin-top: 460px;
    
    height: 120px;
    width: 300px;
    position: absolute;
    color: white;
    background-color: #1c2230;
    padding: 10px 0px 0px 20px;
    border-radius: 10px;
}
.subdiv1{
    padding: 15px 0px 0px 100px;
    

}

.box3{
    height: 600px;
    width: 30%;
    background-color: #f2f2f2;
}

.sec1{
    margin-top: 130px;
    height: 150px;
    background-color: #f2f2f2;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 160px;
    

}
.sec1 > img{
    height: 60px;
    width: 60px;
}
.sec2{
    margin-top: 60px;
    margin-left: 10px;
    
}
p3,p6,p8,p12,p14{
    font-size:50px;
    font-weight: 500;
    

}
.sec3{
    margin-top: 40px;
    margin-left: 10px;
     display: flex;
    align-items: center;
    gap: 160px;
    height: 250px;
    width: 100%;
    /* border: 1px solid red; */
}
p3, img{
    height: 50px;
    width: 50px;
}
h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sec4{
    background-color:  #f2f2f2;
    height: 450px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 170px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    
}

.button2 > button{
     width: 270px;
    height: 35px;
    border-radius: 10px;

}
p5,p6,p7,.button2{
    margin-top: 30px;
}
.button2> button:hover{
    color: white;
    background-color: blueviolet;
    cursor: pointer;
    
}
.sub_sec2{
    display: flex;
}

.mid_img1 > img{
    height: 400px;
    width: 300px;
    border-radius: 20px;
    left: 250px;
    bottom: 20px;
    position: relative;
}
.mid_img2 > img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    position: relative;
    left: 400px;
top: 50px;
}
.mid_img3 > img{
     height: 330px;
    width: 220px;    
    border-radius: 20px;
    position: relative;
    left: 300px;
    top: 25px;


}
.mid_img4 > img{
    height: 220px;
    width: 220px; 
    border-radius: 20px;
   position: relative;
   left: 290px;
   top: 80px;
}

.sec5{
    
    position: relative;
    top: 200px;
}
.images1{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
    text-align: center;
  
} 
.p4 >img{
    height: 380px;
    width: 500px;
    border-radius: 30px;
}
.images2{
    display: flex;
    justify-content: space-between;
   position: relative;
   top: 70px;
    text-align: center;
} 
.button3>button{
    position: relative;
    top: 80px;
    width: 280px;
    height: 40px;
    border-radius: 10px;
    background-color: blueviolet;
   color: white;
}

.sec6{
    height: 430px;
    width: 100%;
    background-color:  #f2f2f2;
    margin-top: 480px;
     display: flex;

}
.images3>img{
    height: 550px;
    width: 450px;
    position: relative;
    bottom: 70px;
    left: 250px;
    border-radius: 10px;
}
.tex1{
    left: 400px;
    position: relative;
    top: 100px;
}
.button4 > button{
     width: 270px;
    height: 35px;
    border-radius: 10px;

}
.button4> button:hover{
    color: white;
    background-color: blueviolet;
    cursor: pointer;   
}
p11,p12,p13,.button4{
    margin-top: 20px;
}

.sec7{
    margin-top: 100px;
}
.card1{
    display: flex;
    
}
.box4{
    height: 300px;
    width: 300px;
    /* border: 1px solid red; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box4:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,o.2);
}