*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}


.mainContainer{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    text-align: center;
    margin-top: 20px;
    gap: 10px;

   }
   .card_div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
   }


   .card_div > img{
    width: 70%;
    /* height: 300px; */
    opacity: 0.9;
    scale: 0.9;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
   }
 
   .card_div > img:hover{
    opacity: 8;
    scale: 1.0;
}



#image >img{
    width: 158.20px;
    height: 50px;
    margin-left: 150px;
}

img{
    height: 250px;
    width: 300px;
    padding: 0px 15px;

}
.card_div{
    /* border: 1px solid black; */
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
/* .card_div:hover{
        
} */
.navbar{
    display: flex;
    justify-content: space-around;
    /* margin: 0px 160.4px; */
    padding: 15px 0px 0px;
   background-color: #3c3c3c;
}
.text{
    display: flex;
    gap: 45px;
    margin-right: 90px;
    color: white;
    margin-top: 8px;
    /* border: 1px solid red; */
    
}
 h2:hover{
    color: #3cc6b2;
}

.input{
    display: flex;
    width: 700px;
    height: 68.75;
    padding: 5px 15px 0px 0px ;

}

.search_img{
    width: 114.16px;
    height: 39px;
    align-items: center;
    background-color: #3cc6b2;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px ;
    padding: 8px;

}
.search_img > img {
    width: 26.4px;
    height: 26.4px;
    
}

.input input{
    width: 456.66px;
    height: 39px;
    margin: 0px 0px 16px;
    padding: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
}
.input input:hover{
    border: 4px solid white;
    cursor: pointer;

}
.search_img:hover{
      border: 4px solid white;
    cursor: pointer;
}