* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Jost, sans-serif;
}

header {
  padding: 0 20px;
  border-bottom: 1px solid gray;
  height: 86px;
}

.search,
.list_icon,
.logo {
  width: 100%;
}

.list_icon > span > img,
.search > div > img {
  width: 50px;
  width: 24px;
  height: fit-content;

}

.list_icon > span {
  display: block;
  gap: 5px;
}

.logo > div > img {
  width: 135px;
  height: fit-content;
  background: #000;
}
.offer {
  background: #b61d0f;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
}

header,
.list_icon,
.list_icon > span,
.logo > div {
  display: flex;
  align-items: center;
}

.list_icon {
  gap: 10px;
  display: flex;
  justify-content: end;
}

.logo > div {
  justify-content: center;
}
.search > div {
    /* justify-content: center; */
align-items: center;
display: flex;

}







.footer{
    height: 824.3px;
    width: 100%;
    background-color: #f4dfdb;

}