* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

.navbar {
  width: 100%;
  height: 90px;
  position: absolute;   
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.85); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}


.logo img {
  height: 60px;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: #00c2cb;
  color: #fff;
}

.contact-btn {
  background-color: #00c2cb;
  color: #fff !important;
}


.slider_hero {
  width: 100%;
  height: 100vh;        
  position: relative;
  overflow: hidden;
}


.slider{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  visibility: hidden;

  transition: opacity 1.2s ease-in-out;
}
.slider.active {
  opacity: 1;
  visibility: visible;
}
.slider_hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
}


.arrow {
  position: absolute;
  top: 50%;
  z-index: 20;
  background: rgba(0,0,0,0.4);
  border: none;
  font-size: 30px;
  padding: 10px 18px;
  cursor: pointer;
  transform: translateY(-50%);
}

.arrow p {
  color: #fff;
  margin: 0;
}

/* LEFT ARROW */
.prev {
  left: 20px;
}

/* RIGHT ARROW */
.next {
  right: 20px;
}

/* HOVER EFFECT */
.arrow:hover {
  background: rgba(0,0,0,0.7);
}
